.header{
    font-family: 'Gulzar', serif;
    margin: 0;
}
.orgen{
    color:orange
}
section{
    display: flex;
}
.half{
    width: 50%;
    padding-left: 5%;
}
.half img{
    width:50%
}
.button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 5%;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}