.header{
    font-family: 'Gulzar', serif;
    margin: 0;
}
.orgen{
    color:orange
}
section{
    display: flex;
    margin-bottom: 50px;
}
.half{
    width: 50%;
    padding-left: 5%;
}
.half img{
    width:50%
}
.button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 5%;
    margin-top: 20%;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second{
    font-family: 'Gulzar', serif;
    margin: 20%%
}
.but{
    font-family: 'Finlandica', sans-serif;
    font-size: larger;
    
}
.second{
    width:50%
}
.but{
    width: 50%;
    padding-left: 5%;
}